<div class="form_main">
  <h1>Create a new list</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo_url, label: 'Photo URL:' %>

    <%= f.submit 'Make list', class: "btn btn-outline-dark" %>
    <%= link_to "Go back", lists_index_path, class: "btn btn-outline-dark" %>
  <% end %>

</div>
