<div class="list_show_main">
  <div class="list_show_box">
    <h1 style="margin-left: 30px; margin-top: 10px;"><%= @list.name %></h1>
      <div class="list_show_box_cards">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card" style="width: 200px; justify-self: center;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500<%= bookmark.movie.poster_url%>" alt="Movie poster">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 14px;"><%= bookmark.movie.title %></h5>
              <p class="card-text"><%= bookmark.movie.overview %></p>
            </div>
              <span class="card-text" style="text-align: right; font-size: 12px; margin-right: 10px;"><em><%= bookmark.comment %></em></span>
          </div>
        <% end %>
      </div>

    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-outline-dark"  %>
    <%= link_to "Go back", lists_index_path, class: "btn btn-outline-dark"  %>

</div>
